<style>
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;600;700;900&family=Poppins&family=Space+Grotesk:wght@300;400;700&display=swap');
</style>


/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Space Grotesk', sans-serif;
  color: #000;
}

body {
  font-size: 15px;
  font-weight: 600;

}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  max-width: 1024px;
  margin: 0 24px;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
}

.nav {
  height: 54px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-grid, .nav-logo {
  color: #000;
  display: inline-flex;
}

.nav-logo {
  font-weight: 900;
}

.nav-grid {
  font-size: 18px;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .nav-menu {
    position: fixed;
    left: 0;
    /* top: -100%; */
    width: 100%;
    padding: 80px 0 64px;
    background-color: #4286bc;
    border-radius: 0 0 24px 24px;
    transition: .4s;
  }
}

.nav-list {
  text-align: center;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.nav-close {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 18px;
  cursor: pointer;
}

.hero {
  background-color: #4286bc;
  padding: 150px 0 30px;
  /* height: 100vh; */
  display: grid;
}

.hero-container {
  display: grid;
  align-content: center;
  /* row-gap */
}

.hero-content {
  text-align: center;
}

.hero-subtitle {
  display: block;
}

.hero-title {
  font-size: 42px;
  margin: 12px 0;
}

.hero-button {
  display: inline-block;
  margin: 30px 0;
  background-color: #fff;
  padding: 13px 26px;
  border-radius: 24px;
  transition: .3s;
}

.hero-button:hover {
  box-shadow: 0 4px 10px #333;
}

.hero-img {
  justify-self: center;

}

.hero-img img {
  width: 250px;
  animation: gambar-melayang 2s infinite alternate;
}

@keyframes gambar-melayang {
  0% {
    transform: translateY(0);
  }
  100%{
    transform: translateY(20px);
  }
}

.img-shadow {
  width: 125px;
  height: 20px;
  background-color: #000;
  margin: 0 auto;
  border-radius: 50%;
  opacity: 0.2;
  filter: blur(5px);
  animation: shadow 2s infinite alternate;
}

@keyframes shadow {
  0% {
    tranform: scale(1,1);
  }
  100% {
    transform: scale(.8,.8);
  }
}

.footer {
  display: flex;
  justify-content: center;
  column-gap: 10px;
  font-size: 12px;
  align-self: flex-end;
}

@media screen and (min-width: 767px) {
  .nav {
    height: 90px;
  }

  .nav-cose, .nav-grid {
    display: none;
  }

  .nav-list {
    flex-
  }
}

@media screen and (min-width: 1024px) {
  .hero-container {
    display: grid;
    grid-tamplate-columns: repeat(2, 1fr);

  }

  .hero-content {
    text-align: ;
  }

  .hero-img img {
    
  }
} 